.container {
	width: 225px;
	height: 340px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.details {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.wrapper h2 {
	color: black;
	font-size: 16px;
	margin-top: 5px;
}

.wrapper {
	width: 225px;
	transition: 0.25s ease;
}
.wrapper:hover {
	transform: translateY(-8px);
}

.titleWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80px;
	max-height: 100px;
	width: 225px;
	background-color: #ecf0f1;
	border-radius: 6px;
}

.details {
	margin-top: auto;
	color: black;
}

.details span {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

.details span p {
	margin: 0 0.4rem;
	font-size: 12px;
}
