.App {
	text-align: center;
}

nav {
	height: 90px;
	border-bottom: 2px solid #ccc;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	display: flex;
	gap: 5vw;
}
a {
	font-size: 22px;
	color: black;
}

li {
	list-style: none;
}
li:hover {
	opacity: 0.5;
}
