.GuardianArticle {
	width: 300px;
	height: 350px;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	border: 2px solid black;
	border-radius: 5px;
}

.tag {
	font-weight: bold;
	font-size: 20px;
}

.date {
	font-style: italic;
}
