.HomeContainer {
	margin: 3rem 0;
}
.projectDetail {
	margin: 1.5rem 0;
}

.HomeContainer ul {
	display: flex;
	align-items: center;
	justify-content: stretch;
	flex-direction: column;

	margin: 1rem 0;
}

.HomeContainer a {
	color: royalblue;
}

.btn {
	font-size: 12px;
	margin: 0.5rem 0;
}
